html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  overflow: hidden;
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 3rem;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
}

.btn-big {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  border-style: solid;
  color: #fff;
  background-color: #333;
  border-color: #333;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
  float: right;
}

.btn:hover {
  background-color: black;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
  position: relative;
}

.banner-content {
  position: absolute;
  width: 100%;
  margin: 0;
  padding-left: 5rem;
  padding-right: 1rem;
  bottom: 0;
  left: 80%;
  transform: translateX(-50%);
}

.circle {
  display: block;
  float: left;
  margin: 0;
  top: 0;
  width: 50%;
}
